.container {
  padding: 1rem 1rem;
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
  justify-content: center;
}

footer nav a {
  display: block;
  padding: 0.2rem 0.2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

footer nav a:hover {
  background-color: #acccc9;
}

footer .copyright {
  margin: 1.5rem 0;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }

  h2 {
    padding: 20px 0;
  }

  .footerContainer {
    width: 100%;
    padding: 0 30px;
  }

}